<div class="bg-gray-800 text-white text-center py-20">
  <h1 class="text-5xl font-bold mb-4">Welcome to Onisa Designs</h1>
  <p class="text-xl mb-8">We are a team of talented designers and developers making trash  to treasure </p>
  <%= link_to "Shop Now", root_path, class: 'bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded' %>
</div>


<div class="flex flex-wrap justify-center items-center gap-10 mt-8">
  <% @main_categories.each do |category| %>
    <%= link_to category_path(category) do %>
      <div class="flex flex-col mb-4">
        <h2 class="text-gray-800 font-medium text-lg text-center mb-6 uppercase">
          <%= category.name %>
        </h2>
          <%= category.image.present? ? image_tag(category.image, class: "max-w-lg w-[400px]") : image_tag("https://via.placeholder.com/400") %>

      </div>

    <% end %>
  <% end %>

</div>

<!-- Testimonials -->
<%= render 'testimonials' %>
<!-- End of Testimonials -->

<!-- Subscribe to our news letter -->

<%= render 'subscribe' %>

<!-- End of Subscribe to our news letter -->

<!-- Footer -->