 <div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Products" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "New product", new_admin_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

   <!-- Search-->
   <div class="flex mt-4 flex-col md:flex-row items-start md:items-center w-full">
     <%= form_with url: admin_products_path, method: :get, class: 'flex' do |form| %>
     <%= form.text_field :query, placeholder: "Search ", class: "rounded border-gray-500 text-gray-800" %>
       <%= form.submit "Submit", class: "cursor-pointer bg-gray-500 ml-2 hover:bg-gray-600 text-white px-4 rounded"  %>
     <% end %>

     <%= form_with url: admin_products_path, method: :get, class: 'flex' do |form| %>
       <%= form.submit "Clear", class: "cursor-pointer bg-gray-500 ml-2 hover:bg-gray-600 text-white py-2 px-4 rounded"  %>
     <% end %>

   </div>

  <%= render partial: 'prod_table' %>
</div>
