<!DOCTYPE html>
<html>
  <head>
    <title>Onisa Designs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('logo.png') %>

  </head>

  <body class="bg-[#e6e6e6]">
  <%= render partial: 'layouts/shared/public_nav' %>
    <main class=" mx-auto mt-28 w-full px-2 sm:px-6 lg:px-0">
      <%= yield %>
    </main>
  <%= render partial: 'layouts/shared/public_footer' %>
  </body>
</html>
